<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kni/css/error.css') }}" />
        <title>Upsss! Something is wrong ;( </title>
    </head>
    <body>
        <p class="code">{{ status_code }}</p>
        <p class="text">{{ status_text }}</p>
    </body>
</html>