{# src/Kni/ThomasBundle/Resources/views/Register/index.html.twig #}

<form action="{{ path('new_user') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>