{# src/Kni/ThomasBundle/Resources/views/Register/new.html.twig #}
{% extends "KniThomasBundle::layout.html.twig" %}
 
{%block content%}
twoje konto zostało założone
<a href="{{ path('login_page') }}">przejdz do strony logowania</a>
{%endblock%}