# Bootstrap
#app/bootstrap*

# Symfony directories
#vendor/*
*/logs/*
*/cache/*
#web/uploads/*
#web/bundles/*

# Configuration files
app/config/parameters.ini
/nbproject/private/
/src/Kni/ThomasBundle/Resources/public/images/Thumbs.db