/* 
    Document   : style
    Created on : 2013-04-04, 14:51:05
    Author     : Łukasz
    Description:
        Purpose of the stylesheet follows.
*/
body
{
	background-image: url('../images/wavegrid.png');
}

#container{
    width: 1000px;
    margin: 0 auto;
}

#header{
    width: 1000px;
    height: 120px;
    background-color: #fff;
    background-image: url('../images/bg_header.png');
    border: 1px #ccc solid;
    -moz-border-radius:10px; /* FF */
    -webkit-border-radius:10px; /* przeglądarki z webkitem (Safari, Chrome itp.) */
    -khtml-border-radius:10px; /* przeglądarki typu K-meleon (typowo Linuxowe) */
    border-radius:10px; /* pozostałe przeglądarki */
    margin: 10px 0;
}

#header a img#logo{
    margin: 8px 0 0 15px;
    border: 0;
}

#slider{
    width: 1000px;
    height: 250px;
    margin: 0 0;
    padding: 0;
}

#slider li{
    margin: 0;
}

#slider li img{
    -moz-border-radius:10px; /* FF */
    -webkit-border-radius:10px; /* przeglądarki z webkitem (Safari, Chrome itp.) */
    -khtml-border-radius:10px; /* przeglądarki typu K-meleon (typowo Linuxowe) */
    border-radius:10px; /* pozostałe przeglądarki */
}

.block{
    -moz-border-radius:10px; /* FF */
    -webkit-border-radius:10px; /* przeglądarki z webkitem (Safari, Chrome itp.) */
    -khtml-border-radius:10px; /* przeglądarki typu K-meleon (typowo Linuxowe) */
    border-radius:10px; /* pozostałe przeglądarki */
    border: 1px #ddd solid;
    background-color: #fff;
}


#login
{
    color: #000;
    margin: 10px 0;
    list-style-type: none;
    width: 1000px;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
}

#login ul
{
    list-style-type: none;
    padding: 0px;
    margin: 30px auto 30px auto;
    display: block;
    width: 265px;
}

#login ul li label{
    float: left;
    display: inline;
    padding-top: 8px;
    width: 45px;
    text-align: right;
}

#login ul li input{
    margin-left: 10px;
    float: left;
    display: inline;
    background-color: #fff;
    border: 1px #ddd solid;
    padding: 7px 10px;
    -moz-border-radius:5px; /* FF */
    -webkit-border-radius:5px; /* przeglądarki z webkitem (Safari, Chrome itp.) */
    -khtml-border-radius:5px; /* przeglądarki typu K-meleon (typowo Linuxowe) */
    border-radius:5px; /* pozostałe przeglądarki */
    width: 200px;
}

input:required {
    border: 1px solid red;
}

input.submit:hover{
    background-color: #e0eeff;
}

#footer{
    margin: 5px 0;
    font-size: 11px;
    font-family: Arial;
    text-align: right;
}

.clear{
    clear: both;
}