{% extends "KniThomasBundle::layout.html.twig" %}

{% block content %}
    <div class="block">
        <h1>Twój profil</h1>
        
        <a class="box" href="{{ path('profile_my_workshop_index') }}">To będzie index meeting view</a>

        
        <div class="clear"></div>
    </div>
{% endblock %}