{% extends "KniThomasBundle::layout.html.twig" %}

{% block content %}
    <div class="block">
        <h1>{{error}} </h1>
        
        
        
        <p>Spróbuj ponownie</p>
        


        
        <div class="clear"></div>
    </div>
{% endblock %}