{# empty Twig template #}
{% extends "KniThomasBundle::layout.html.twig" %}

{% block content %}
    <div class="block">
        <h1>Widok join do warszatu {{ workshopId }}</h1>
        

        
        <div class="clear"></div>
    </div>
{% endblock %}