{% extends "KniThomasBundle::layout.html.twig" %}

{%block content%}
    <div class="block">
        <h1>Utwórz warsztaty - krok 5</h1>
        <ul class="steps">
            <li class="active">Podstawowe informacje</li>
            <li class="active">Dodawanie zasobów</li>
            <li class="active">Etapy</li>
            <li class="active">Zaproszenia</li>
            <li class="active">Podsumowanie</li>
        </ul>

        <h2>Warsztaty zostały dodane</h2>
    </div>
{% endblock %}
