<ul class="workshopMenu">
    <li {% if active=='edit' %}class="active"{% endif %}>Podstawowe informacje</li>
    <li {% if active=='files' %}class="active"{% endif %}>Zasoby</li>
    <li {% if active=='steps' %}class="active"{% endif %}>Etapy</li>
    <li {% if active=='users' %}class="active"{% endif %}>Zaproszenia</li>
    <li {% if active=='info' %}class="active"{% endif %}>Podsumowanie</li>
</ul>