{% extends "KniThomasBundle::layout.html.twig" %}

{%block content%}
    <div class="block">
        <h1>Utwórz warsztaty - krok 1</h1>
        <h2>Podstawowe informacje</h2>

        <form action="{{ path('profile_workshop_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit">Dalej</button>
            </p>
        </form>
    </div>
{% endblock %}
