{% block head %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/kni/css/style.css') }}" />
{% endblock %}
{% block title '<title>Thomas Bundle</title>' %}
{% block body %}
    {% block header %}    
    {% endblock %}
    {% block content %}    
    {% endblock %}
    {% block footer %}    
    {% endblock %}
{% endblock %}


