<html>
    <head>
        {% block head %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kni/css/style.css') }}" />
        {% endblock %}
        {% block title '<title>Thomas Bundle</title>' %}
            <link rel="stylesheet" href="{{ asset('js/jquery-ui/themes/base/jquery-ui.css')}}" />
            <meta charset="utf-8" />
            <script src="{{ asset('js/jquery-ui/jquery-1.9.1.js')}}"></script>
            <script src="{{ asset('js/jquery-ui/ui/jquery-ui.js')}}"></script>
        </head>
        <body>
        {% block body %}
            <div id=container">
                {% block header %}    
                    <div id="header">
                        ds
                    </div>
                {% endblock %}
                
                {% block content %}    
                {% endblock %}
                
                {% block footer %}    
                {% endblock %}
            </div>
        {% endblock %}
        </body>
    </html>